.botao{
    width: auto;
    background-color: #6278F7;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    margin: 32px 0;
    border: none;
    cursor: pointer;
    color: #fff;
}

.botao:hover{
    color: #95FFD4;
}